%html
  %head
    %script(src="http://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript")
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

  %body
    %label(for='from')From
    %textarea#from

    %label(for='to')To
    %textarea#to(readonly)

    %button Reverse

  :coffeescript
    dict = {}

    dict['あ'] = 'ア'
    dict['い'] = 'イ'
    dict['う'] = 'ウ'
    dict['え'] = 'エ'
    dict['お'] = 'オ'
    dict['ぁ'] = 'ァ'
    dict['ぃ'] = 'ィ'
    dict['ぅ'] = 'ゥ'
    dict['ぇ'] = 'ェ'
    dict['ぉ'] = 'ォ'
    dict['か'] = 'カ'
    dict['き'] = 'キ'
    dict['く'] = 'ク'
    dict['け'] = 'ケ'
    dict['こ'] = 'コ'
    dict['が'] = 'ガ'
    dict['ぎ'] = 'ギ'
    dict['ぐ'] = 'グ'
    dict['げ'] = 'ゲ'
    dict['ご'] = 'ゴ'
    dict['さ'] = 'サ'
    dict['し'] = 'シ'
    dict['す'] = 'ス'
    dict['せ'] = 'セ'
    dict['そ'] = 'ソ'
    dict['ざ'] = 'ザ'
    dict['じ'] = 'ジ'
    dict['ず'] = 'ズ'
    dict['ぜ'] = 'ゼ'
    dict['ぞ'] = 'ゾ'
    dict['た'] = 'タ'
    dict['ち'] = 'チ'
    dict['つ'] = 'ツ'
    dict['て'] = 'テ'
    dict['と'] = 'ト'
    dict['だ'] = 'ダ'
    dict['ぢ'] = 'ヂ'
    dict['づ'] = 'ヅ'
    dict['で'] = 'デ'
    dict['ど'] = 'ド'
    dict['な'] = 'ナ'
    dict['に'] = 'ニ'
    dict['ぬ'] = 'ヌ'
    dict['ね'] = 'ネ'
    dict['の'] = 'ノ'
    dict['ま'] = 'マ'
    dict['み'] = 'ミ'
    dict['む'] = 'ム'
    dict['め'] = 'メ'
    dict['も'] = 'モ'
    dict['は'] = 'ハ'
    dict['ひ'] = 'ヒ'
    dict['ふ'] = 'フ'
    dict['へ'] = 'ヘ'
    dict['ほ'] = 'ホ'
    dict['ば'] = 'バ'
    dict['び'] = 'ビ'
    dict['ぶ'] = 'ブ'
    dict['べ'] = 'ベ'
    dict['ぼ'] = 'ボ'
    dict['ぱ'] = 'パ'
    dict['ぴ'] = 'ピ'
    dict['ぷ'] = 'プ'
    dict['ぺ'] = 'ペ'
    dict['ぽ'] = 'ポ'
    dict['ら'] = 'ラ'
    dict['り'] = 'リ'
    dict['る'] = 'ル'
    dict['れ'] = 'レ'
    dict['ろ'] = 'ロ'
    dict['や'] = 'ヤ'
    dict['ゆ'] = 'ユ'
    dict['よ'] = 'ヨ'
    dict['ゃ'] = 'ャ'
    dict['ゅ'] = 'ュ'
    dict['ょ'] = 'ョ'
    dict['っ'] = 'ッ'
    dict['わ'] = 'ワ'
    dict['ゐ'] = 'ヰ'
    dict['ゑ'] = 'ヱ'
    dict['を'] = 'ヲ'
    dict['ん'] = 'ン'
    dict['ゔ'] = 'ヴ'
    dict['ゝ'] = 'ヽ'
    dict['ゞ'] = 'ヾ'

    dict[value] = key for key, value of dict

    jQuery ($) ->
      translate = ->
        str = ''
        str += dict[letter] || letter for letter in $('#from').val()

        $('#to').val(str)

      reverse = ->
        $('#from').val $('#to').val()

      reverse_and_translate = -> reverse() && translate()

      $('#from').on 'keyup', translate
      $('button').on 'click', reverse_and_translate
