%html
  %head
    %script(src="http://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript")
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

  %body
    %label(for='from')From
    %input#from(type='text')

    %label(for='to')To
    %input#to(type='text' readonly)

    %button Reverse

  :coffeescript
    dict = {}

    dict['あ'] = 'ア'
    dict['い'] = 'イ'
    dict['う'] = 'ウ'
    dict['え'] = 'エ'
    dict['お'] = 'オ'
    dict['か'] = 'カ'
    dict['き'] = 'キ'
    dict['く'] = 'ク'
    dict['け'] = 'ケ'
    dict['こ'] = 'コ'
    dict['さ'] = 'サ'
    dict['し'] = 'シ'
    dict['す'] = 'ス'
    dict['せ'] = 'セ'
    dict['そ'] = 'ソ'
    dict['た'] = 'タ'
    dict['ち'] = 'チ'
    dict['つ'] = 'ツ'
    dict['て'] = 'テ'
    dict['と'] = 'ト'
    dict['な'] = 'ナ'
    dict['に'] = 'ニ'
    dict['ぬ'] = 'ヌ'
    dict['ね'] = 'ネ'
    dict['の'] = 'ノ'
    dict['は'] = 'ハ'
    dict['ひ'] = 'ヒ'
    dict['ふ'] = 'フ'
    dict['へ'] = 'ヘ'
    dict['ほ'] = 'ホ'
    dict['ま'] = 'マ'
    dict['み'] = 'ミ'
    dict['む'] = 'ム'
    dict['め'] = 'メ'
    dict['も'] = 'モ'
    dict['や'] = 'ヤ'
    dict['ゆ'] = 'ユ'
    dict['よ'] = 'ヨ'
    dict['ら'] = 'ラ'
    dict['り'] = 'リ'
    dict['る'] = 'ル'
    dict['れ'] = 'レ'
    dict['ろ'] = 'ロ'
    dict['わ'] = 'ワ'
    dict['ゐ'] = 'ヰ'
    dict['ゑ'] = 'ヱ'
    dict['を'] = 'ヲ'

    dict[value] = key for key, value of dict

    jQuery ($) ->
      translate = ->
        str = ''
        str += dict[letter] || letter for letter in $('#from').val()

        $('#to').val(str)

      reverse = ->
        $('#from').val $('#to').val()

      reverse_and_translate = -> reverse() && translate()

      $('#from').on 'keyup', translate
      $('button').on 'click', reverse_and_translate

